<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Never Walk Alone</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>

    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper cyan darken-1">
                <a href="/" class="brand-logo">Never Walk Alone</a>
                {{#if loggedIn}}
                <ul class="right hide-on-med-and-down">
                    <a href="/dashboard">dashboard</a>
                    <button id="logout" class="btn-no-style">logout</button>
                </ul>
                {{else}}
                <ul class="right hide-on-med-and-down">
                    {{!-- <a href="/" class="navbar-item is-hoverable pt-1">homepage</a> --}}
                    <a href="/login" class="navbar-item is-hoverable pt-1">Login</a>
                </ul>
                {{/if}}
            </div>
        </nav>
    </div>

    <main>
        {{{ body }}}
    </main>

    <footer>
        <div class="footer-copyright cyan darken-1">
            <div class="container">
                © 2021 Never Walk Alone 
                </p>Made by Charlie, Nick, and Mambu</p>
            </div>
        </div>
    </footer>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>